{% extends "base.jinja" %}
{%block content %}
<div id="source" style="display:none;">{{ page.source }}</div>
<script type="text/javascript">
var defaultContent = $("#source").text()
</script>

<span id="h"></span>
<h2>编辑页面(<a href="{{request.path}}">重新载入</a> | 
<a href="/page/{{page.id}}" target="_blank">查看该页面</a> | 
<a href="/admin/del/page/{{page.id}}">删除该页面</a>)</h2>
<p id="text" style="color:red;"></p>
<p>标题:
    <input type="hidden" id="pid" value="{{ page.id }}" />
    <input type="text" id="title" style="width:430px;" value="{{ page.title}}" tabindex="2" />
</p>
{% include "editor.jinja" %}
<p><button id="submit" class="bigbtn"> 提交编辑 </button></p>
<script type="text/javascript">
$("#submit").click(function(){
    editor.preview()
    var title = $("#title").val();
    var source = editor.exportFile()
    var content = editor.previewer.innerHTML
    var _id = $("#pid").val()

    var data = {'title':title, 'content':content, 'source':source, "id":_id}
    $.ajax({
        type: "POST",
        url: "/admin/editpage",
        dataType: "json",
        data:data,
        success: function(data){
            if (data.status) {
                window.location='/admin/editpage/'+data.data;
            } else {
                alert(data.errmsg);
            }
        }
    });
});
</script>

{% endblock %}
