{% extends "base.jinja" %}
{% block content %}
<h2>{{title}}</h2>
<p>简单的管理员控制面板</p>

<br/>
<h3>下面是页面 headers 信息，可忽略不管</h3>
<br/>
{% for k, v in request.headers.iteritems() %}
{{ k }}: {{ v }}<br/>
{% endfor %}
{% endblock %}
