{% extends "base.jinja" %}
{% block head %}
<script type="text/javascript">
var defaultContent = ''
</script>
{% endblock %}
{%block content %}
<span id="h"></span>
<h2>添加文章</h2>
<p id="text" style="color:red;"></p>

<!-- TODO 作者信息 -->
<p><strong>标题</strong> <input type="text" id="title" style="width:430px;" value="" tabindex="2" /> </p>
{% include "editor.jinja" %}
<p><button id="submit" class="bigbtn"> 提交文章 </button></p>
<p>标签: <input type="text" id="tags" style="width:360px;" value="" tabindex="4" /> 用逗号分隔','<br/>

<p>分类: <br />
<div id="categries">
    {% for cat in categories %}
    <input class="category" type="checkbox" value="{{ cat.id }}" /> {{ cat.name }} <br />
    {% endfor %}
</div>
<div id="addcate" style="display:none">
    <p>分类名称 <input type="text" name="name" id="categoryname" />
    <button id="btn_add_cate" class="btn"> 添加 </button></p>
</div>
<a id="click_add_cate">添加类别</a>
<p>
<label>关闭评论 <input type="checkbox" value="True" tabindex="5" /></label>

</p>
<script type="text/javascript">
$("#click_add_cate").click(function(){$("#addcate").show()})

$("#btn_add_cate").click(function() {
    var name = $("#categoryname").val();
    $.ajax({
        type: "POST",
        url: "/admin/addcategory",
        dataType: "json",
        data:{"name":name},
        success: function(data){
            if (data.status) {
                alert("成功");
                var cate = data.data;
                $("#categires").append("<input class='category' type='checkbox' value='"+cate.id + "' /> " + cate.name + "<br />");
                $("#addcate").hide();
            }else{
                alert(data.errmsg);
            }
        }
    });
});

$("#submit").click(function(){
    var title = $("#title").val();
    var source = editor.exportFile()
    var content = editor.previewer.innerHTML
    var tags = $("#tags").val();
    var category = new Array();
    $(".category").each(function(i, el){
        if (el.checked){
            category.push(el.value);
        }
    });

    if (!category){
        alert("请选择类别");
    }

    cate = category.join();

    var data = {'title':title, 'content':content, 'source':source,
                'tags': tags, 'category':cate}
    $.ajax({
        type: "POST",
        url: "/admin/addpost",
        dataType: "json",
        data:data,
        success: function(data){
            if (data.status) {
                window.location='/admin/editpost/'+data.data;
            }else{
                alert(data.errmsg);
            }
        }
    });
});
</script>
{% endblock %}
