{% extends "base.jinja" %}
{% block content %}
<div class="blog-index">
{% for date in archives %}
  <div style="clear:both;"></div>
  <div class="archive">
    <a name="{{date.year}}-{{date.month}}"></a>
    <div class="archive-date">
        <h1 class="date_year"><a href="/date/{{date.year}}/{{date.month}}/">{{date.year}} 年 {{ date.month}} 月</a></h1>
    </div>
{% for obj in date.posts %}
    <div class="archive-post">
       <span class="date_day">{{ obj.date.day }}</span>
       <span class="archive-title">
       <a href="/{{obj.date.year}}/{{obj.date.month}}/{{obj.date.day}}/{{ obj.link_title}}/" rel="bookmark" title="Permanent Link to {{obj.title}}">{{obj.title}}</a>
       </span>
       <span class="archive-footer"><small> Post in {% for cate in obj.category %} <a href="/category/{{ cate.name}}/" rel="category tag">{{cate.name}}</a> &nbsp; {% endfor %}</small> {% if username and uid %}<a href="/admin/editpost/{{obj.id}}">Edit</a>{% endif%}</span>

    </div>
{% endfor %}
  </div> <!-- END archive div -->
{% endfor %}
</div>
{% endblock %}
