<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="zh-CN"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>
      {% block title %}
      {% if title %}
        {{title }} | {{SITE_TITLE}}
      {% else %}
        {{SITE_TITLE}} | {{SITE_SUB_TITLE}}
      {% endif %}
      {% endblock %}
  </title>
  <meta name="author" content="{{ author|escape }}" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="alternate" type="application/rss+xml" title="{{SITE_TITLE|escape}} RSS Feed" href="/feed" />
  <link rel="shortcut icon" href="/favicon.ico" type="image" />

  <link href="/static/themes/octopress/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

  <script src="/static/js/jquery.js"></script>
  <script src="/static/themes/octopress/js/main.js"></script>
  <link rel='index' title='{{SITE_TITLE}}' href='/' />
  <meta name="description" content="{{description|escape}}" />
  <meta name="keywords" content="{{keywords}}" />
  {% block head %}
  {% endblock %}

<script type="text/javascript">
    $(function(){
        $("#go-to-top").click(function(){
            $("html, body").animate({'scrollTop': 0}, 400);
            return false;
        });
        $(window).scroll(function() {
            var top = $(document).scrollTop();
            var g = $("#go-to-top");
            if (top > 300 && g.is(":hidden")) {
                g.fadeIn();
            } else if(top < 300 && g.is(":visible")) {
                g.fadeOut();
            }
        }); 
    })
    
</script>


</head>
<body>
  <header role="banner">
    <hgroup>
    <h1><a href="/">{{SITE_TITLE}}</a></h1>
        <h2>{{SITE_SUB_TITLE}}</h2>
    </hgroup>
  </header>
  <nav role=navigation>
    <ul role=subscription data-subscription="rss">
      <li><a href="/feed" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
    </ul>
    <script type="text/javascript">
        var dispatch = function() {
            q = document.getElementById("q");
            if (q.value != "") {
                window.open('http://www.google.com/search?q=site:{{request.host}}/%20' + q.value, "_blank");
                return false;
            } else {
                return false;
            }
        }
    </script>    
    <form onsubmit="return dispatch()">
      <fieldset role="site-search">
        <input class="search" type="search" id="q" placeholder="Search" />
      </fieldset>
    </form>
    <ul role=main-navigation>
      <li><a href="/">Blog</a></li>
      <li><a href="/archives/">归档</a></li>
      <li><a href="/notes/">便签</a></li>
      {% for p in page %}
      <li><a href="/page/{{p.link_title}}/">{{p.title}}</a></li>
      {% endfor %}
    </ul>
  </nav>
  <div id="main">
    <div id="content">

<!-- block content -->

        {% block content %}
        {% endblock %}

<!--  block content end -->

      
            <!-- block sidebar -->
            {% include("sider.jinja") %}
            <!-- block sidebar end -->
        
    </div>
  </div>
  <footer style="text-align:center;">
    <p>
    &copy; 2013 cold<br />
    Time: <span id="requesttime">{{ request.request_time()}}</span> ms -
    <a href="/admin/" rel="nofollow">Admin</a>
    <br />
    <span style="display:inline;vertical-align:middle;overflow:auto;height:40px;">
        由
        <img alt="Python" title="Python" class="fimg" src="/static/img/python-logo.gif" />
        <img alt="MySQL" title="MySQL" class="fimg" src="/static/img/mysql.png" />
        <img alt="nginx" title="nginx" class="fimg" src="/static/img/nginx.gif" />
        <img alt="Memcached" title="memcached" class="fimg" src="/static/img/memcached_logo.png" />
        <img alt="tornado" title="tornado" class="fimg" src="/static/img/tornado.png" />
        <img alt="Jinja2" title="Jinja2" class="fimg" src="/static/img/jinja-small.png" />
        强力驱动
    </span>
    <br />
    <span id="license">
<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/cn/"><img alt="知识共享许可协议" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/cn/88x31.png" /></a>本站所有作品均采用<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/cn/">知识共享署名-相同方式共享 3.0 中国大陆许可协议</a>进行许可。
    </span>
    <br />
    <script src="http://s96.cnzz.com/stat.php?id=3767683&web_id=3767683&show=pic" language="JavaScript"></script>
    </p>
    <a style="display: none; " rel="nofollow" href="#top" id="go-to-top">▲</a>
  </footer>

</html>
