<aside role=sidebar>
{% if comments %}
<section>
    <h1>最新评论</h1>
    <ul id="recent_posts">
    {% for each in comments %}
        <li class="post">
            <span class="grey">{{each.date}}</span> {{each.name}} Says: <br/>
            <a
            href="/{{each.post_date.year}}/{{each.post_date.month}}/{{each.post_date.day}}/{{each.link_title}}/#{{each.id}}">{{each.short_content}} </a>
        </li>
    {% endfor %}
    </ul>
</section>
{% endif %}
{% if new %}
<section>
    <h1>近期文章</h1>
    <ul id="new_posts">
    {% for n in new %}
        <li class="post">
            <a href="/{{n.pubdate.year}}/{{n.pubdate.month}}/{{n.pubdate.day}}/{{n.link_title}}/" alt="{{ n.title }}"> {{ n.title }}</a>
        </li>
    {% endfor %}
    </ul>
</section>
{% endif %}
{% if categories %}
<section>
    <h1>分类</h1>
    <ul id="Category_list">
    {% for cat in categories %}
        <li class="category">
            <a title="View all posts filed under {{cat.name}}" href="/category/{{cat.name}}/">{{cat.name}} <span class="tag_meta">({{cat.post_num}})</span></a>
        </li>
    {% endfor %}
    </ul>
</section>
{% endif %}

{% if tags %}
<section>
    <h1>标签</h1>
    <p id="top_tags">
    {% for tagi in tags %}
        <a title="{{tagi.name}}" href="/tag/{{tagi.name}}/"><font size="{{tagi.post_num}}">{{tagi.name}}</font></a>
    {% endfor %}
    </p>
</section>
{% endif %}

{% if months %}
<section>
    <h1>文章归档</h1>
    <ul id="date_posts">
    {% for m in months %}
        <li class="post">
            <a href="/date/{{ m.year }}/{{ m.month }}/">{{ m.year }} 年 {{ m.month}} 月</a>
        </li>
    {% endfor %}
    </ul>
</section>
{% endif %}

{% if links %}
<section>
    <h1>链接表</h1>
    <ul id="Category_list">
    {% for link in links %}
        <li class="category"><a title="{{link.text}}" href="{{ link.url }}" target="_blank">{{ link['text'] }}</a></li>
    {% endfor %}
    </ul>
</section>
{% endif %}

</aside>
